*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.mp5
*.MP4
darknet/
data/
old/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
.fuse*
darknet

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
